@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Ruslan+Display&family=Ubuntu:ital,wght@0,300;0,400;1,700&display=swap');
/* font-family: 'Ruslan Display', cursive; */

.coffee-list {
background-image: url("img/background.jpg");
background-size: cover;
  }
.coffee-item { 
  /* обращение к надписи */
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 15px 0;  /* отступ снаружи */
  border-radius: calc(100px / 2); /* в CSS пробелы обязательны */
/*transition: background-color 1000ms, transform 1000ms; скорость подсветки*/
transition: all 300ms; /*скорость анимации*/
  cursor: pointer; /*курсор рука*/
}  

.coffee-item img { /* обращение к картинке */
  height: 100px;
  background-color: white; /*фон делаем*/
border-radius: 50%; /*делаем круг белый*/
}

.coffee-item span { 
font-family: 'Ruslan Display', cursive;
 margin-left: 25px;
 font-size: 20px;
}

.coffee-item:hover {  /*подсветка кнопок*/
 background-color: rgba(50, 50, 50, 0.7);
 transform: scale(1.05); /*увеличивает кнопку когда курсор на ней*/
 
}

.coffee-oper {
background-color: rgb(230, 230, 230); /*меняем фон сзади справа*/
padding: 1rem;
}

.display {
  background-color: lightgreen;
  border: 2px solid darkgreen;
  box-sizing: border-box;
  padding: 0.5rem;
  font-family: 'Ruslan Display', cursive;
  
}

.cup-container { 
  margin-top: 2rem; /* отступ сверху */
}

cup {
  width: 100%       /* подровнять кружку под панель */
}


.atm {
  width: 100%  
}

.change-container {
  min-height: 5rem;
  background-color: lightgrey;
  border: 2px solid black;
  border-radius: 0.5rem; 
}